.newTaskForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.newTaskForm input {
    flex: 1;
    background: var(--gray-500);
    font-size: 1rem;
    border-radius: 8px;
    height: 3.375rem;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    border: 1px solid var(--gray-700);
    color: var(--gray-100);
    line-height: 1.225rem;
}

.newTaskForm input::placeholder {
  color: var(--gray-300);
}

.newTaskForm input:focus {
    border: 1px solid var(--purple-dark);
}

.newTaskForm button[type="submit"] {
    cursor: pointer;
    background: var(--blue-dark);
    width: 5.625rem;
    padding: 1rem;
    border-radius: 8px;
    border: 0;
    color: var(--gray-100);
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.225rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newTaskForm button[type="submit"]:hover {
    background: var(--blue);
}

.newTaskForm button[type="submit"] svg {
    font-size: 1rem;
}